@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,400;0,9..40,700;1,9..40,200;1,9..40,400;1,9..40,700&family=DM+Serif+Display:ital@0;1&display=swap");

:root {
  --branding-color: #154042;
  --light-color: #d4d6d5;
  --dark-color: #11201e;
  --accent-color-mint: #d2e9dd;
  --accent-color-pink: #decec8;

  --heading-font: "DM Serif Display", Georgia, Times;
  --default-font: "DM Sans", Helvetica, sans-serif;
}

body {
  font-family: var(--default-font);
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
  position: relative;
  text-align: center;
}

h2 span {
  background-color: white;
  padding: 10px;
}

h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 2px solid var(--accent-color-pink);
  z-index: -1;
}

hr {
  border: 2px solid var(--accent-color-pink);
  opacity: 0.75;
  width: 60px;
}

.btn-branding {
  background: var(--branding-color);
  border: 2px solid var(--branding-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 5px 15px;
}

.btn-branding:hover {
  border: 2px solid var(--branding-color);
  color: var(--branding-color);
}

.btn-branding-outline {
  border: 2px solid var(--branding-color);
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 5px 15px;
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  border: 2px solid var(--branding-color);
  color: white;
}

.hero {
  background-color: var(--light-color);
  padding: 160px 20px;
  text-align: center;
}

.hero .btn-branding {
  background: var(--branding-color);
  border: 2px solid var(--branding-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.hero .btn-branding:hover {
  border: 2px solid var(--branding-color);
  color: var(--branding-color);
}

.hero h2 {
  font-family: var(--default-font);
  font-size: 36px;
}

.featured-content {
  margin: 50px 25px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 50px;
  }

  .hero h2 {
    font-size: 24px;
  }

  h2 {
    font-size: 36px;
  }

  hr {
    margin: 15px auto;
    width: 75px;
  }

  .row-content {
    text-align: center;
  }
}
